
body{
    margin: 0px;
    border: 0px;
    padding: 0px;
   
    
}

@font-face{
    font-family: poppins;
    src: url("/fonts/Poppins-Regular.ttf");
}


header{
    display: flex;
   background-color: rgb(60, 207, 104);
   justify-content: space-between;
   padding: 20px;
   align-items: center;
   flex-wrap: wrap;
}

fieldset{
    border-color: antiquewhite;
    border-style: solid;
    align-items: center;
}

header h1{
   
    font-size: 1.4rem;
    font-family: poppins;
   
    color:white;
}

form {
    margin-left:auto;
    margin-right:auto;
    max-width: 50%;
 
   
   
    

}

form legend{
    font-size: 32px;
    font-family: poppins;
    color: blueviolet;
  
}


form span{
    
    justify-content: center;
   display: inline-flex;
   font-size:1.1rem;
   font-family: poppins;
  
   border-radius: 4px;
    border: transparent;
   
    color: white;
    background-color:rgba(137, 43, 226, 0.212);
}


label{
    font-family:poppins;
    font-size: 14px;
    
    color: rgba(137, 43, 226)
 }

 button{
    font-family:Poppins;
    margin-top: 5px;
    border-radius: 4px;
    border: transparent;
    font-size: 18px;
    color: white;
    background-color:rgba(137, 43, 226, 0.212);
}


.field span{
    margin-left: 13px;
    
}

.field {
    margin-top:10px ;
   
  
}


#Page-home img{
    margin-right: 32px;
    width: 80px;
    
}

#salario {
    display: inline-flex;
    border: none;
    border-radius: 3px;
    background-color:rgba(137, 43, 226, 0.212);
    width: 120px;
    height: 19px;
    margin-right: 32px;
    margin-left: -4px;
    padding: 3px;
    font-family: poppins;
    
}

#OutrosDescontos{
    font-family: poppins;
    display: inline-flex;
    border: none;
    border-radius: 3px;
    background-color:rgba(137, 43, 226, 0.212);
    width: 120px;
    height: 19px;
    margin-right: 32px;
    margin-left: -4px;
    padding: 3px;
   
}


.imgbottom img{
 
display: flex;
  visibility: visible;
  max-width: 75%;
  
  
  
    
}



[type=number]::-webkit-inner-spin-button,
    [type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    
    }


#tableResult {
    font-size: 22px;
    font-family: poppins;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#tableResult table,th,td{

    border: 3px none rgba(165, 162, 162, 0.199);
    border-collapse:collapse;
    text-align: justify;
    

}


.salarioLiquido,.salarioBruto{
     color:blue;
}

.descontoINSS, .descontoImpostoReda, .Vale{
    color:red;
}
caption{
    font-weight: bold;
}
#tableResult{
   justify-content: center;
    display:flex;
    /*visibility: hidden;*/
    flex-wrap: wrap;
    justify-items: center;
   
}


@media(max-width:1200px){
   
    .imgbottom img{
 
        display: flex;
         margin-left: 12px;
         max-width: 90%;
       
          
            
        }
     
        form{
            max-width:95%;
        }


}

fieldset{
   max-width:95%;
    
}
@media (max-width: 641px) {
    
}




